<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TechZone - Accueil</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../assets/css/style_global.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap" rel="stylesheet">

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#1057B9',
                    }
                }
            }
        }
    </script>
</head>
<body>
<div class="w-full h-full ">
    <div class="px-3.5 flex flex-row justify-between items-center w-[1440px] h-[143px] bg-primary">
        <div class="flex flex-row justify-evenly items-center">
            <i class="fa-solid fa-bars text-white"></i>
            <img class="w-[180px] h-[63px] object-cover"  src="../../assets/img/Logo-TechZone-Blue.png" />
            <h2 class="w-[150px] font-normal text-white" >Entrez dans la zone du high-tech.</h2>
        </div>
        <div class="flex flex-row justify-between w-[50px]">
            <i class="fa-solid fa-basket-shopping text-white"></i>
            <i class="fa-solid fa-arrow-right-from-bracket text-white"></i>
        </div>
    </div>
</div>
</body>
</html>