<div class="px-4 py-2 md:py-6 grid grid-cols-2 grid-rows-2 md:grid-rows-1 md:grid-cols-5 justify-between items-center w-screen bg-primary">
    <a th:href="@{/}" href="#" class="col-start-1 col-span-1">
        <img class="w-[180px] h-[60px] object-cover" th:src="@{/images/Logo-TechZone-White.png}" alt="logo TechZone page accueil"/>
    </a>
    <form class="flex p-4 w-full bg-zinc-100 rounded-md row-start-2 col-span-2 md:row-start-1 md:col-start-2 md:col-span-3">
        <input class="w-full bg-transparent" type="text">
        <a href="#" type="submit">
            <i class="fa-solid fa-magnifying-glass "></i>
        </a>
    </form>
    <div class="text-end space-x-6 col-start-2 md:col-start-5 col-span-1">
        <a href="#"> <i class="text-3xl fa-regular fa-user text-white"></i></a>
        <a href="#"> <i class=" text-3xl fa-solid fa-basket-shopping text-white"></i></a>
    </div>
</div>