<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TechZone - Accueil</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#1e40af',
                    }
                }
            }
        }
    </script>
</head>
<body>

<div class="h-screen flex flex-col justify-around items-center">
    <h1 class="text-3xl text-center m-12">Phrase très percutante qui donne envie d’acheter nos produits !</h1>

    <div class="flex flex-wrap justify-around">
        <div class="bg-zinc-100 shadow-md p-4 my-4 rounded-3xl" th:each="product : ${products}">
            <img th:src="${product.getUrlPhoto()}" class="w-[20vw] h-[15vw] object-cover rounded-xl"
                 th:alt="${product.getName()}">
            <div class="flex flex-col justify-between h-[15vw] w-[20vw]">
                <div class="flex justify-between items-center mt-4">
                    <h5 th:text="${product.getName()}" class="font-semibold text-xl">Nom du produit</h5>
                    <span th:if="${product.isInStock()}" class="h-4 w-4 rounded-3xl bg-green-500"></span>
                    <span th:unless="${product.isInStock()}" class="h-4 w-4 rounded-3xl bg-red-500"></span>
                </div>
                <p th:text="${product.getDescription()}" class="h-[10vw] overflow-hidden text-ellipsis">Description du
                    produit</p>
                <div th:with="finalPrice=${product.price * (1 - product.promotionPourcent / 100.0)}">
                    <div class="flex items-center gap-2">
                        <p class="text-lg"
                           th:text="${(product.isPromotion ? #numbers.formatDecimal(finalPrice, 1, 2) : product.price) + '€'}">
                            Prix
                        </p>

                        <p th:if="${product.isPromotion}"
                           class="text-lg line-through"
                           th:text="${product.price + '€'}">
                            Ancien Prix
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example" class="flex items-center space-x-4">
        <span class="text-sm text-gray-600">
        Page <span class="font-bold text-gray-900" th:text="${currentPage + 1}">1</span>
        sur <span class="font-bold text-gray-900" th:text="${totalPages}">10</span>
    </span>
        <ul class="flex -space-x-px text-sm" th:if="${totalPages > 0}">
            <li>
                <a th:if="${hasPrevious}" th:href="@{/(page=${currentPage - 1})}"
                   class="flex items-center justify-center px-3 h-9 border rounded-s-lg bg-white hover:bg-gray-100">
                    Précédent
                </a>
            </li>

            <li th:each="i : ${#numbers.sequence(0, (totalPages > 5 ? 4 : totalPages - 1))}">
                <a th:href="@{/(page=${i})}"
                   th:text="${i + 1}"
                   th:classappend="${currentPage == i} ? 'bg-blue-600 text-white' : 'bg-white text-gray-700'"
                   class="flex items-center justify-center w-9 h-9 border hover:bg-gray-100">
                </a>
            </li>

            <li>
                <a th:if="${hasNext}" th:href="@{/(page=${currentPage + 1})}"
                   class="flex items-center justify-center px-3 h-9 border rounded-e-lg bg-white hover:bg-gray-100">
                    Suivant
                </a>
            </li>
        </ul>
        <form class="w-32 mx-auto">
            <label for="pageSize" class="sr-only">Produits par page</label>
            <select id="pageSize"
                    name="size"
                    onchange="window.location.href = '/?page=0&size=' + this.value"
                    class="block w-full px-3 py-2.5 bg-white border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 shadow-sm">

                <option value="12" th:selected="${pageSize == 12}">12 par page</option>
                <option value="24" th:selected="${pageSize == 24}">24 par page</option>
                <option value="48" th:selected="${pageSize == 48}">48 par page</option>
                <option value="96" th:selected="${pageSize == 96}">96 par page</option>
            </select>
        </form>
    </nav>
</div>
</body>
</html>